.date, .time, .weather {
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    background: oklch(var(--n))
}

.body {
    margin: 1em;
    display: grid;
    gap: 1em;
}

.date-list {
    justify-content: center;
    width: 100%;
}

.flex-row, .flex-col {
    display: flex;
    flex-wrap: nowrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    border-radius: 1em;
    height: 3em;
    width: 3em;
    margin: 0 0.25em 1em 0.25em;
}

.box-text {
    width: 100%;
}

.box-border {
    border-width: 2px;
}

img {
    width: min-content;
    margin: auto;
}

.weather {
    width: calc(100vw - 2em)
}

.temp{

}

.forecast-box {
    overflow-x: auto;
    width: max-content;
}
