.date, .time, .weather {
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    background: oklch(var(--n))
}

.body {
    margin: 1em;
    display: grid;
    gap: 1em;
}

.forecast-box, #weather-data {
    display: flex;
    flex-flow: row nowrap;
}

.current {
    display: flex;
    flex-flow: column nowrap;
}

img {
    width: min-content;
    margin: auto;
}

.weather {
    width: calc(100vw - 2em)
}

.temp{

}

.forecast-box {
    overflow-x: auto;
    width: max-content;
}
