---
const allTheDays = [
    "Su",
    "M",
    "Tu",
    "W",
    "Th",
    "F",
    "Sa"
];
---

<section class="date" style="grid-column: 1; grid-row: 1">
    <div class="date-list flex-row">
        <div></div>
        { allTheDays.map( day =>
            <div class=`box box-border border-base-content ${day}`>
                <div class="box-text">{day}</div>
            </div>
        )}
        <div></div>
    </div>

    <time>
        <data class="month">Month</data>
        <data class="dayOfMonth">00</data>,
        <data class="year">0000</data>
    </time>
</section>

<script>

/************
Static Data
************/
const allTheMonths = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December"
];
const allTheDays = [
    "Su",
    "M",
    "Tu",
    "W",
    "Th",
    "F",
    "Sa"
];

/************
Dynamic Data
************/
// Get and store current date and time with `new Date()` object
const dateNow = new Date();
// Check-Check: See all `Date()` methods and properties
console.log( dateNow );

const gotMonth = dateNow.getMonth();
// Get current day of the month
let gotDayOfMonth = dateNow.getDate();
// Get current year
const gotYear = dateNow.getFullYear();
// Get current day of the week
const gotDayOfWeek = dateNow.getDay();

// Check-Check: Is the data correct? 
console.log(gotMonth, gotDayOfMonth, gotYear, gotDayOfWeek);

/************
Get DOM Elements
************/
// Get the month
const month = document.querySelector(".month");
// Get day of the month
const dayOfMonth = document.querySelector(".dayOfMonth");
// Get year
const year = document.querySelector('.year');
// Get Day of Week
const dayOfWeek = document.querySelector(`.${allTheDays[gotDayOfWeek]}`);


/************
Set DOM Elements
************/
// Set the month
month.textContent = allTheMonths[gotMonth];
// Set day of the month
dayOfMonth.textContent = String(gotDayOfMonth);
// Set the year
year.textContent = String(gotYear);
// Set the day of the week
dayOfWeek.classList.remove("border-base-content", "box-border")
dayOfWeek.classList.add("bg-primary", "text-primary-content")
</script>