---
---

<section class="weather" style="grid-row: 2; grid-column: 1 / 2; align-items: center">
      <h1>Weather</h1>
      <data class="city">City</data>
      <data class="temp">Temp</data>
      <img class="icon"
           src="https://via.placeholder.com/150" alt="Placeholder">
</section>

<script>
      import {genOverview} from "../scripts/weather";
      genOverview()
</script>
